body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    
    font-size: 50px;
    }
.name-highlight{
    color: rgba(165, 24, 52, 0.856);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
header-bg{
   
    background-image:url("images/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 600px;
}
.anchor-button{
    text-decoration: none;
    background-color: rgba(165, 24, 52, 0.856);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
.biography-bg{
    background-image: url("images/biography-bg.png");
}
.column{
   width:30%;
   float: left;
   padding-left: 2%;
}
.latest-work img{
    width: 100%;
}
.row::after{
    content:"";
    clear:both;
    display: table;
}
.latest-work{
    background-image: url("images/latest-work-bg.png");
}
.center{
    

        text-decoration: none;
        background-color: #a51834da;
        padding: 10px 20px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin: 0%;
        border: 1px solid black;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 400px;
        margin-left: 400px;
    
}
.footer-bg{
    background-image: url("images/footer-bg.png");
}
footer p{
    text-align: center;
    margin-top: 100px;
}
    
    