body{
    margin: 0;
    font-family: system-ui, system-ui, sans-serif;
    line-height: 154%;
    background-color: white;
}
h1{
    
    font-size: 50px;
    }
#hello{
        font-size:24;
        font-family: system-ui, system-ui, sans-serif;
    }
.name-highlight{
    color:rgba(255, 68, 0, 0.541);
    font-size: 24;
    font-family: system-ui, system-ui, sans-serif;
    
}
.half-width{
    width: 40%;
    height: 60%;
    margin: 10px 20px;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    color:rgba(10, 10, 93, 0.904);
    
    
}
.half-width img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}

.top-nav a {
    float: right;
    display: block;
    color: black;
    text-align: right;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
  }
section{
    height: 600px;
}
.anchor-button{
    text-decoration: none;
    background-color: rgba(255, 68, 0, 0.541);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}


.latest-work{
    width: 100%;
    border: 2px solid white;
    padding:30px;
    margin:50px;
    border-radius: 5px;
}


#work{
    color:red;
}

.column{
    float: left;
    padding: 10px;
    width: 33.33%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  #inquiry{
    width:200%;
    height: auto;
    margin-left: 40%;
    margin-right: 40%;
    display: block;
    padding: 10px;
  }
  .center{
    color:white;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    text-align: center;
    display: block;
    position: absolute;
  }
  .stay-connected{
      text-align: center;
      position: relative;
      margin:20px 10px;
      padding:10px;
  }